<a href="/" class="btn btn-primary center-block"><%= Game.icon('home') %> Main Menu</a>

<% if Game.lives > 0 %>
	<% if Game.win %>
		<h2 class="big text-success">You win!</h2>
	<% end %>
<% else %>
	<h2 class="big text-danger">You Lose!</h2>
<% end %>

<h3><span class="text-danger"><%= Game.icon('heart') %></span> Lives: <%= Game.lives %></h3>

<pre id="art" class="health" style="background: #222;"><%= $art[Game.lives] %></pre>

<% if Game.state[:cheat] %>
	<h3><%= Game.icon('flash') %> The word is <code><%= Game.word %></code></h3>
<% end %>

<h2 id="progress">
	<% if Game.lives == 0 %>
		<code><%= Game.word %></code>
	<% else %>
		<%= Game.progress %>
	<% end %>
</h2>

<% if Game.lives > 0 %>

	<% if Game.win %>

		<h2 class="big text-success"><%= Game.icon('thumbs-up') %></h2>

		<div class="alert alert-success">
			Hip hip hooray! You win! <a href="/">Play again?</a>
		</div>

	<% else %>

		<form>
			<div class="form-group">
				<input type="hidden" value="<%= Game.difficulty %>" name="difficulty"/>
				<% if not Game.guesses.empty? %>
					<input type="hidden" value="<%= Game.guesses(true) %>" name="guesses"/>
				<% end %>
				<label for="guess">Letters</label>
				<select id="guess" name="guess" class="form-control">
					<% Game.options.each do |letter| %>
						<option value="<%= letter %>"><%= letter %></option>
					<% end %>
				</select>
			</div>
			<button type="submit" class="btn btn-primary center-block">
				<%= Game.icon('question-sign') %> Guess
			</button>
		</form>

	<% end %>

<% else %>

	<h2 class="big text-danger"><%= Game.icon('thumbs-down') %></h2>

	<div class="alert alert-danger">
		Oh no! You lose! <a href="/">Play again?</a>
	</div>

<% end %>

<% if Game.hits.size > 0 %>
	<div id="hits" class="alert alert-success scoring">
		<%= Game.icon('ok') %>
		<% Game.hits.each_with_index do |m, i| %>
			<%= m %><%= (i != Game.hits.size - 1) ? ',' : '' %>
		<% end %>
	</div>
<% end %>

<% if Game.misses.size > 0 %>
	<div id="misses" class="alert alert-danger scoring">
		<%= Game.icon('remove') %>
		<% Game.misses.each_with_index do |m, i| %>
			<%= m %><%= (i != Game.misses.size - 1) ? ',' : '' %>
		<% end %>
	</div>
<% end %>