<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="UTF-8"/>

		<meta name="twitter:card" content="Hangman by Bideo Wego. The classic game brought to life with Ruby, Sinatra, and Bootstrap 3. Hosted by Heroku. Play it now!"/>
		<meta name="twitter:site" content="@bideowego"/>
		<meta name="twitter:creator" content="@bideowego"/>

		<meta property="og:title" content="Hangman By Bideo Wego on Heroku"/>
		<meta property="og:site_name" content="Hangman"/>
		<meta property="og:url" content="<%= base_url %>"/>
		<meta property="og:description" content="Hangman by Bideo Wego. The classic game brought to life with Ruby, Sinatra, and Bootstrap 3. Hosted by Heroku. Play it now!"/>
		<meta property="og:image:width" content="1200"/>
		<meta property="og:image:height" content="912"/>
		<meta property="og:image" content="<%= base_url %>ograph.jpg"/>
		
		<title>Hangman | Bideo Wego</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<style type="text/css">
			body{
				background: #111;
			}
			h1,h2,h3,h4,h5,h6,p{
				text-align: center;
			}
			#progress{
				font-size: 2em;
				word-wrap: break-word;
				letter-spacing: 4px;
			}
			#game{
				max-width: 768px;
				margin: 8px auto;
				border-radius: 1em;
				background: #fff;
				padding: 2em;
			}
			#art{
				max-width: 128px;
				margin-right: auto;
				margin-left: auto;
			}
			.health{
				color: #<%= ( ! Game.playing) ? '337ab7' : ['c00', 'f30', 'f90', 'fc0', 'cf3', '6f6'][Game.lives] %>;
			}
			.scoring{
				margin-top: 1em;
				margin-bottom: 1em;
			}
			.big{
				font-size: 4em;
			}
			button.center-block{
				width: 100%;
			}
		</style>

	</head>
	<body>
		<div class="container">

			<div id="game">
				<p><a href="http://bideowego.com/games" title="More games by Bideo Wego" target="_blank">Bideo Wego</a> presents</p>
				<h1><span class="health"><%= Game.icon('user') %></span> Hangman</h1>

				<hr/>

				<%= yield %>

			</div>

		</div>
	</body>
</html>